.deployRight {
	float: right;
}

.deployLeft {
	float: left;
}

.showOneLine {
	display: inline;
}

.leftStyle {
	float: left;
	margin-top: 5px;
}

.clearAboveFloatStyle {
	clear: both;
}