.pagetailer{
	margin-top: 20px;
	background: #414344;
	padding:40px 0 160px;
	}
.pagetailer h2, .myIntro h2{
	color:#0eb493;
/*	font:28px "微软雅黑";*/
	text-align:center;
	}
.pagetailer p{
	color:#062033;
	/*font:16px "微软雅黑";*/
	line-height:30px;
	margin:0 auto;
	text-align:center;
	width:83.33%;
	max-width:1200px;
	}

.tailerTitle {
	font-size: 22px;
	font-weight: bold;
	color: white;
	margin-left: 100px;
}

.myDivider {
	height: 1px;
	background-color: white;
	margin-top: 30px;
	margin-left: 100px;
	margin-right: 113px;
}


.tailerCon{
	margin-top: 20px;
	margin-left: 145px;
	/*margin:0 auto;*/
/*	max-width:1200px;*/
	width:88.95%;
	}
.tailerItem{
	float:left;
	/*font-family:"微软雅黑";*/
	/*margin:0 5% 20px 0;*/
	width:15.75%;
	}
.tailerItem:last-child{
	margin-right:0;
	}
.tailerItem h3{
	background:transparent;
	border:1px solid #0eb493;
	border-radius:20px;
	color:#0eb493;
	display:block;
	float:left;
	font-size:24px;
	height:40px;
	line-height:40px;
	text-align:center;
	width:40px;
	}
.tailerItem dl{
	display:block;
	float:right;
	width:76.63%;
	}
.tailerItem dl dt{
	color:#F7FAFC;
	font-size:20px;
	margin-bottom:10px;
	}
.tailerItem dl dd{
	color:#B3C0BE;
	font-size:14px;
	}
.tailerItem dl dd span{
	display:block;
	line-height:24px;
	}

.footerLine {
/*	background:url(../img/line.png) no-repeat bottom;
	height: 200px;*/
	border-top: 1px solid white;
	background-color: #414344;
	padding-bottom: 10px;
	padding-top: 10px;
	color: rgb(172, 163, 163);
}